    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Navigation Bar -->
    <header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="$link.to.space($space.getKey())" class="navbar-brand">$space.name</a>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    #if ($hasPages)
                    <li #if (!$url.path.startsWith("${viewport.url.toAbsolutePathRelative()}/blog")) class="active" #end>
                        <a href="${viewport.url.toAbsolutePathRelative()}/">Home</a>
                    </li>
                    #end
                    #if ($hasBlogPosts)
                    <li #if ($url.path.startsWith("${viewport.url.toAbsolutePathRelative()}/blog")) class="active" #end>
                        <a href="${viewport.url.toAbsolutePathRelative()}/blog">Blog</a>
                    </li>
                    #end
                </ul>

                <form action="${space.url}../search" method="GET" class="navbar-form pull-right" style="margin-right: -30px;">
                    <input type="text" value="$!searchRequest.queryString" class="form-control col-lg-8" placeholder="Search" autocomplete="off" name="q" />
                </form>
            </nav>
        </div>
    </header>
