<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked plugins-nav">
            <li><h4>Add-ons</h4></li>
            <li><a href="#">Versions and licences</a></li>
            <li><a href="#">Find new addons</a></li>
            <li class="active"><a href="#">Manage addons</a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
    <div class="col-sm-10 plugin-list">
        <div class="row">
            <div class="col-sm-11">
                <h3>Manage Add-ons</h3>
                <p>You may install update and enable/disable add-ons here. <a href="#">Find new add-ons.</a></p>
                <div class="bs-callout bs-callout-info" role="alert">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    All add-on data displayed below is for the lates known product version.
                    <b>Add-on compatibility whith this version is unverified. Install add-ons at your own risk.</b>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11">
                <form class="form-inline">
                    <select name="ext-class" class="form-control">
                        <option value="">All</option>
                        <option value="">PHP Extensions</option>
                        <option value="">CSS Extensions</option>
                        <option value="">JavaScript Extensions</option>
                    </select>
                    <select name="ext-type" class="form-control">
                        <option value="">All</option>
                        <option value="">Framework</option>
                        <option value="">User installed</option>
                    </select>
                    <input type="text" name="search-plugin" class="form-control" placeholder="Search by name" />
                    <div class="pull-right">
                        <button class="btn btn-primary"><i class="glyphicon glyphicon-upload"></i> Upload add-on</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11">
                <h3>Add-on list</h3>
                {%MODULE.LIST.ADDONS_LIST%}
            </div>
        </div>
    </div>
</div>