<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-stacked">
            <li class="nav-header"><a>XY's Dashboard</a></li>
        </ul>
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> {Button.Label.AddGadget}</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> {Button.Label.EditLayout}</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {Button.Label.Tools} <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">{Button.Label.CopyDashboard}</a></li>
                            <li><a href="#">{Button.Label.EditDashboard}</a></li>
                            <li><a href="#">{Button.Label.DeleteDashboard}</a></li>
                            <li><a href="#">{Button.Label.FindDashboard}</a></li>
                            <li><a href="#">{Button.Label.CreateDashboard}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Gadget 1</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Gadget 2</div>
                </div>
            </div>
        </div>
    </div>
</div>