<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="#">EDF's Dashboard</a></li>
            <li class="active"><a href="#">System Dashboard</a></li>
        </ul>
    </div>
    <div class="col-sm-10 dashboard-list">
        <div class="row">
            <div class="col-md-6">
                <h2 style="margin: 0;">System Dashboard</h2>
            </div>
            <div class="col-md-6">
                <ul class="list-inline pull-right">
                    <li><a href="#"><span class="glyphicon glyphicon-plus"></span> {Button.Label.AddGadget}</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> {Button.Label.EditLayout}</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> {Button.Label.Tools} <span class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#">{Button.Label.CopyDashboard}</a></li>
                            <li><a href="#">{Button.Label.EditDashboard}</a></li>
                            <li><a href="#">{Button.Label.DeleteDashboard}</a></li>
                            <li><a href="#">{Button.Label.FindDashboard}</a></li>
                            <li><a href="#">{Button.Label.CreateDashboard}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="grid">
            <!-- Oszlop 1 -->
            <div class="grid col-md-8">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading app-gadget" id="Gadget_01">
                            <div class="row">
                                <div class="col-sm-8">
                                    <b>Gadget 1</b>
                                </div>
                                <div class="col-sm-4 text-right gadget-options" style="cursor: default;">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">{Button.Label.Edit}</a></li>
                                            <li><a href="#" class="gadget-minimize">{Button.Label.Minimize}</a></li>
                                            <li><a href="#" class="gadget-maximize">{Button.Label.Maximize}</a></li>
                                            <li>
                                                <ul class="list-inline" style="margin-left: 15px;margin-top:5px;margin-bottom: 5px;">
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-blue"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-red"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-purple"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-orange"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-green"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-default"></div></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">{Button.Label.Delete}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            This is a dashboard-style layout that uses Bootstrap 3. You can use this template as a starting point to create something more unique.
                            Visit the Bootstrap Playground at Bootply to tweak this layout or discover more useful code snippets.
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading app-gadget" id="Gadget_02">
                            <div class="row">
                                <div class="col-sm-8">
                                    <b>Gadget 2</b>
                                </div>
                                <div class="col-sm-4 text-right gadget-options" style="cursor: default;">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">{Button.Label.Edit}</a></li>
                                            <li><a href="#" class="gadget-minimize">{Button.Label.Minimize}</a></li>
                                            <li><a href="#" class="gadget-maximize">{Button.Label.Maximize}</a></li>
                                            <li>
                                                <ul class="list-inline" style="margin-left: 15px;margin-top:5px;margin-bottom: 5px;">
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-blue"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-red"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-purple"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-orange"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-green"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-default"></div></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">{Button.Label.Delete}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            This is a dashboard-style layout that uses Bootstrap 3. You can use this template as a starting point to create something more unique.
                            Visit the Bootstrap Playground at Bootply to tweak this layout or discover more useful code snippets.
                            This is a dashboard-style layout that uses Bootstrap 3. You can use this template as a starting point to create something more unique.
                            Visit the Bootstrap Playground at Bootply to tweak this layout or discover more useful code snippets.
                        </div>
                    </div>
                </div>

            </div>

            <!-- Oszlop 1 vége-->

            <!-- Oszlop 2-->
            <div class="grid col-md-4">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading app-gadget" id="Gadget_03">
                            <div class="row">
                                <div class="col-sm-8">
                                    <b>Gadget 1</b>
                                </div>
                                <div class="col-sm-4 text-right gadget-options" style="cursor: default;">
                                    <div class="btn-group btn-group-xs">
                                        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="glyphicon glyphicon-triangle-bottom"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">{Button.Label.Edit}</a></li>
                                            <li><a href="#" class="gadget-minimize">{Button.Label.Minimize}</a></li>
                                            <li><a href="#" class="gadget-maximize">{Button.Label.Maximize}</a></li>
                                            <li>
                                                <ul class="list-inline" style="margin-left: 15px;margin-top:5px;margin-bottom: 5px;">
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-blue"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-red"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-purple"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-orange"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-green"></div></a></li>
                                                    <li class="colorize-list"><a href="#"><div class="colorize colorize-default"></div></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">{Button.Label.Delete}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            This is a dashboard-style layout that uses Bootstrap 3. You can use this template as a starting point to create something more unique.
                            Visit the Bootstrap Playground at Bootply to tweak this layout or discover more useful code snippets.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Oszlop 2 vége-->

        </div>
    </div>
</div>